{% extends "base.html" %}

{% block title %}Adicionar Plano{% endblock %}

{% block content %}
<h1>Adicionar ou Editar Plano</h1>
<form action="/plano" method="post">
    <label for="nome">Nome:</label><br>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="descricao">Descrição:</label><br>
    <textarea id="descricao" name="descricao" required></textarea><br><br>

    <label for="preco">Preço:</label><br>
    <input type="number" id="preco" name="preco" step="0.01" required><br><br>

    <label for="duracao_meses">Duração (meses):</label><br>
    <input type="number" id="duracao_meses" name="duracao_meses" required><br><br>

    <input type="submit" value="Salvar">
</form>
{% endblock %}
